/* Über Uns Abschnitt */
.about-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section h1 {
    font-family: Basketball;
    color: #333;
    font-size: 2em;
    margin-bottom: 15px;
}


.about-section p {
    font-family: "SF Pro";
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-section strong {
    color: #ffa500; /* Betonte Stellen in einem Akzentfarbton */
}